%div{:style => "clear:both;"}
%div{:style => "margin-top:20px;"}

.text_center
  %h1.green ¡Recibe tres palabras acerca de ti!
  %h2 ¡Ten tu propio 5palabritas.com, completamente GRATIS!

  %div{:style => "margin-top:20px;"}
  %h3{:style => "text-align:center;width:400px;margin:auto;margin-bottom:20px;line-height:22px;"}
    3palabritas es una página para que tus amigos te describan en 3 palabras. Inténtalo. ¡Es muy fácil! 

  =link_to "login with facebook", "/auth/facebook"

  = form_for(@user, :url => registration_path(@user)) do |f|
    %p
      = f.label :display_name, "Escribe tu nombre"
      %br/
      = f.text_field :display_name
    %p
      = f.label :email, "Email"
      %br/
      = f.text_field :email
    %p
      = f.label :username, "Nombre de usuario"
      %br/
      5palabritas.com/
      = f.text_field :username

    %p
      = f.label :password, "Contraseña"
      %br/
      = f.password_field :password
    / TODO: password_confirmation
    %p= f.submit "Registrarse"


=#render :partial => "devise/registrations/sign_up_fields"