!!!
%html
  %head
    %title= yield_for(:title, t("standard_title"))
    %meta{:name => 'description', :content => yield_for(:description, t("standard_title"))}/
    :erb
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    = stylesheet_link_tag "screen", :cache => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "rails.js", "jquery.validate.min.js", "application.js", "i18n.js", "translations.js", :cache => true

    /[if IE]
      = stylesheet_link_tag 'own/ie_all'
    /[if lte IE 6]
      = stylesheet_link_tag 'own/ie_6'

    
    = csrf_meta_tag
  %body{ :id => @body_id || controller.controller_name }
    #fb-root
    :erb
      <script src="http://connect.facebook.net/es_ES/all.js"></script>
    :javascript
      FB.init({ appId:'#{FacebookConfig.key}', cookie:true, xfbml:true });

      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    %div{ :id => @body_id || controller.action_name }
      #header_background &nbsp;
      = render :partial => 'shared/header'

      .container_24
        =yield

      .grid_24.alpha
        #footer
          .constraint
            = render :partial => 'shared/footer'

      = yield :javascript
    - unless Rails.env.development? and false
      = render "/tracking/google_analytics_tracking_code.html.erb"
    

    -if session[:user][:blinking_counter] < 4
      -session[:user][:blinking_counter] = session[:user][:blinking_counter] + 1
      :javascript
        $('.sth_with_facebook').fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400);
        $('.promote').fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400).fadeIn(400);
