!!!
%html
  %head
    %title 5palabritas.com - TODO
    = stylesheet_link_tag "screen"
    =# stylesheet_link_tag "own/threewords"    
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "jquery.validate.pack.js"
    = javascript_include_tag "application.js"    
    = javascript_include_tag "i18n.js"
    = javascript_include_tag "translations.js"    
    
    = csrf_meta_tag
  %body{ :id => @body_id || controller.controller_name }
    %div{ :id => @body_id || controller.action_name }
      #header_background &nbsp;
      .container_24
        .grid_24.alpha.omega
          #header
            = render :partial => 'shared/header'

        =yield

      .grid_24.alpha
        #footer
          .constraint
            = render :partial => 'shared/footer'

      = yield :javascript
  